* {
    background-color: #E2E2E2;
    color: #000;
}

QGroupBox {
    background-color: #CACACA;
    border: 0px;
}

QLabel {
    background-color: transparent;
}

QSlider {
    background-color: transparent;
}

QPushButton {
    background-color: transparent;
    border: 0px;
}
